
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: hsl(220, 14%, 4%);
    color: white;
    padding: 20px;
    text-align: center;
}


main {
    background-color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}


main h3 {
    margin-top: 15px;
}


main a {
    display: inline-block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}


footer {
    background-color: hsl(220, 14%, 4%);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


@media (max-width: 500px) {

    main {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    header,
    footer {
        text-align: center;
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

